<table *ngIf="users.length" class="table center-element">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th translate scope="col">Users.Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filter: nameSearch : 'name'">
      <th scope="row">
        <a routerLink="/post/{{user.id}}">
          {{user.id}}
        </a>
      </th>
      <th>
        {{user.name}}
      </th>
    </tr>
  </tbody>

  <app-modal></app-modal>
</table>
