<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto right">
      <li class="nav-item">
        <div translate [translateParams]="{userName: user.name}" *ngIf="loginService.userSession as user" class="nav-text">
          Navbar.Logged
          <button translate (click)="closeSession()" class="btn btn-secondary">Navbar.CloseSession</button>
        </div>
        <a translate *ngIf="!loginService.userSession" class="nav-link" routerLink="/login" routerLinkActive="active">Navbar.Login</a>
      </li>
      <li class="nav-item">
        <a translate class="nav-link" routerLink="/users" routerLinkActive="active">Navbar.Users</a>
      </li>
    </ul>
  </div>

  <div class="dropdown marginCustom">
    <button translate class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Navbar.Language
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button (click)="changeLanguage('es')" class="dropdown-item">ES<img src="../../assets/img/Flag-Spain.png" class="icon"></button>
      <button (click)="changeLanguage('en')" class="dropdown-item">EN<img src="../../assets/img/Flag-England.png" class="icon"></button>
    </div>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input translate *ngIf="router.url === '/users'" [(ngModel)]="nameSearch" name="nameSearch" (keyup)="search()" class="form-control mr-sm-2"  [placeholder]="'Navbar.Search' | translate">
  </form>
</nav>
