<h3 translate class="text-center">LoginPage.Greetings</h3>

<div class="center-element">
  <div class="form-group">
    <label translate for="exampleInputEmail1">Users.User</label>
    <input #userName type="string" class="form-control" [placeholder]="'LoginPage.InputUser' | translate">
  </div>
  <div class="form-group">
    <label translate for="exampleInputPassword1">Users.Password</label>
    <input #userPassword type="password" class="form-control" [placeholder]="'LoginPage.InputPassword' | translate">
  </div>
  <button translate class="btn btn-primary" (click)="sessionStart(userName.value,userPassword.value)">Button.SessionStart</button>

  <app-modal></app-modal>
</div>
