<table *ngIf="posts.length" class="table center-element">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th translate scope="col">Posts.Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <th scope="row">
        <a routerLink="/comments/{{post.id}}">
          {{post.id}}
        </a>
      </th>
      <th>
        {{post.title}}
      </th>
    </tr>
  </tbody>
</table>

<div class="center-element">
  <button translate (click)="goBack()" [disabled]="loading">Button.Back</button>
</div>
