/* You can add global styles to this file, and also import other style files */
body {
  position: fixed;
  width: 100%;
  height: 100%;
}
.center-element {
  width: 50%;
  margin: auto;
}
.marginCustom {
  margin-right: 5px;
}
.text-center {
  text-align: center;
}
.nav-text {
  color: white;
}
.loading {
  background: rgba(0000, 0000, 0000, 0.3);
  opacity: .7;
  height: 100%;
}
