<table *ngIf="comments.length" class="table center-element">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th translate scope="col">Comments.Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <th scope="row">
        {{comment.id}}
      </th>
      <th>
        {{comment.name}}
      </th>
    </tr>
  </tbody>
</table>
<div class="center-element">
  <button translate (click)="goBack()" [disabled]="loading">Button.Back</button>
</div>
